/*
  Background color:       #3a4a58
  Title color:            #996633
  Text color:             #666666
  Text Dark color:        #333333
  Table Heading color:    #C4CDD6
  Table Alternate color:  #e5e8ed 
*/

body{
  background-color: #3a4a58;
  color: #666565;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 0;
}

hr {
  width: 60%;
  border: 0.5px solid #ccc;
}

img { 
  max-width: 100%;
  width: 250px;
}
img:hover{
  scale: 110%;
  transition: all 0.3s ease;
}
figure { margin: 0; }
figcaption { 
  text-align: center;
}

figcaption span {
  display: block;
  font-size: 18px;
}


table {
  width: 100%;
  border-spacing: 0;
}

td {
  text-align: center;
  width: 25%;
  padding: 10px 15px;
  color: #333333;
}

tr:nth-child(even) { background-color: #e5e8ed; }

th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}

p {
  font-size: 1rem;
  line-height: 1.7;
  text-align: center;
}


/* CONTAINER */
.container{
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.container_text{
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
}

.container_text_icon{
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
  width: auto;
}

.container_text_h1{
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 600;
  padding: 10px;
}

.container_img_main{
  background-image: url(../img/main.jpg);
  background-position: center;
  background-size: cover;
  object-fit: fill;
  min-height: 300px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
  border-radius: 30px;
  position: relative;
  top: 30px;

}

/* ACTUAL LIST */
form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}

.form_div{
  display: inherit;
  flex-direction: column;
}

.form_div_btn{
  display: inherit;
  flex-direction: row;
  margin: 20px;
  margin-inline: 17px;
}

.form_input{
  border: 3px solid #333333;
  border-radius: 5px;
  min-width: 280px;
  margin: 20px;
  margin-inline: 30px;
  height: 50px;
  text-align: center;
  font-size: large;
}

.form_output p{
  font-size: 1.2em;
  line-height: 0.3;
}

.btn{
  height: 60px;
  margin: auto;
  box-sizing:border-box;
  cursor: pointer;
  background-color: #3a4a58;
  color: white;
  font-size: large;
  min-width: 100px;
}

.td_btn{
  font-size: 0.8rem;
  padding-inline: 0px;
  width: 20%;
}

.section{
  padding: 20px 20px 30px;
  background-color: white;
}

.section_table_header {
  background-color: #c4cdd6;
  height: 50px;
}

.section_table{ 
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 500px;
}

.section_header {
  color: #996633;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* SAVED LIST */

.section_div_img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

.section_img{
  padding-left: 15px;
  padding-right: 15px;
}

.section_img_list_name{
  margin-top: 20px;
  margin-bottom: 10px;
}


/* ABOUT US */
.section_about_us{
  max-width: 850px;
}

.section_about_us_div{
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}

/* SOCIAL */
.section_social{
  color: white;
  /* background-color: #c5ced8; */
  border-radius: 2px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.section_social:hover{
  /* background-color: #808e9e; */
  scale: 110%;
  transition: all 0.3s ease;
}

.section_social_icon{
  text-align: center;
  margin-top: 30px;
}


.section_social_container{
  display: inline-block;
}

.section_social_text{
  color: #333333;
  font-weight: 600;
  text-decoration: none;
}

a { 
  transition: all 0.3s ease;
}

/* FOOTER */

.footer_text_link{
  color: #fff;
  text-decoration: none;
}

.footer_text{
  color: #fff;
}

/* MEDIA */
@media (max-width: 430px) {
  img{
    width: auto;
  }
  .section_table{ 
    overflow-x: auto;}
  table {width: auto;}
  .section_div_img{ 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section_img{margin-bottom: 40px;}
  figcaption p {
    margin-bottom: 0;
    line-height: 1;
  }
}

@media (max-width: 550px) {
  img{
    width: auto;
  }
  .section_div_img {
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  th{
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
  }
  td{
    padding: 10px 8px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  img{
    width: auto;
  }
  .section_div_img {
    padding-left: 5px;
    padding-right: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  form{
    flex-direction: column;
  }
  .form_input{
    min-width: 320px;
    height: 60px;
    margin-inline: 5px;
  }
  .btn{
    min-width: 150px;
  }
}